<template>
  <div >
    {{message}}
  </div>
</template>

<script>

export default {
  name: 'app',
  components:{
  },
  data () {
    return {
      message: 'Welcome to Your Vue,Webpack,feathers-vuex Boilerplate',
    }
  },
  methods: {
    
    
  },
 mounted() {
   
  },
}
</script>
<style>

</style>